USE [master]
GO
/****** Object:  Database [MoSocio]    Script Date: 22/08/2022 22:10:24 ******/
CREATE DATABASE [MoSocio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MoSocio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MoSocio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MoSocio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MoSocio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MoSocio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MoSocio]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 22/08/2022 22:10:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppUsers]    Script Date: 22/08/2022 22:10:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AppUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cards]    Script Date: 22/08/2022 22:10:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cards](
	[CardId] [int] IDENTITY(1,1) NOT NULL,
	[CardNumber] [nvarchar](max) NULL,
	[IsActived] [bit] NOT NULL,
	[WasRaised] [bit] NOT NULL,
	[DateCreation] [datetime] NOT NULL,
	[DateExpiration] [datetime] NOT NULL,
	[PartnerId] [int] NOT NULL,
	[InstitutionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Cards] PRIMARY KEY CLUSTERED 
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Institutions]    Script Date: 22/08/2022 22:10:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Institutions](
	[InstitutionId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[InstitutionTypeId] [int] NOT NULL,
	[Telefone1] [nvarchar](max) NOT NULL,
	[Telefone2] [nvarchar](max) NULL,
	[WhatsApp] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[HomeAddress] [nvarchar](max) NULL,
	[ProvinceId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Institutions] PRIMARY KEY CLUSTERED 
(
	[InstitutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InstitutionTypes]    Script Date: 22/08/2022 22:10:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstitutionTypes](
	[InstitutionTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Label] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.InstitutionTypes] PRIMARY KEY CLUSTERED 
(
	[InstitutionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 22/08/2022 22:10:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[PartnerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Birthday] [datetime] NOT NULL,
	[PartnerNumber] [nvarchar](max) NULL,
	[DocNumber] [nvarchar](max) NULL,
	[Photo] [nvarchar](max) NULL,
	[DateRegistration] [datetime] NOT NULL,
	[PartnerTypeId] [int] NOT NULL,
	[Telefone1] [nvarchar](max) NOT NULL,
	[Telefone2] [nvarchar](max) NULL,
	[WhatsApp] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[HomeAddress] [nvarchar](max) NULL,
	[ProvinceId] [int] NOT NULL,
	[InstitutionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Partners] PRIMARY KEY CLUSTERED 
(
	[PartnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnerTypes]    Script Date: 22/08/2022 22:10:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerTypes](
	[PartnerTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Label] [nvarchar](max) NULL,
	[InstitutionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PartnerTypes] PRIMARY KEY CLUSTERED 
(
	[PartnerTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 22/08/2022 22:10:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[ProvinceId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Provinces] PRIMARY KEY CLUSTERED 
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quotas]    Script Date: 22/08/2022 22:10:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotas](
	[QuotaId] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[QuotaTypeId] [int] NOT NULL,
	[PartnerId] [int] NOT NULL,
	[InstitutionId] [int] NOT NULL,
	[DateCreation] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Quotas] PRIMARY KEY CLUSTERED 
(
	[QuotaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuotaTypes]    Script Date: 22/08/2022 22:10:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuotaTypes](
	[QuotaTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Label] [nvarchar](max) NULL,
	[InstitutionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.QuotaTypes] PRIMARY KEY CLUSTERED 
(
	[QuotaTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 22/08/2022 22:10:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Socios]    Script Date: 22/08/2022 22:10:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Socios](
	[SocioId] [int] IDENTITY(1,1) NOT NULL,
	[NumeroSocio] [nvarchar](max) NULL,
	[DataRegisto] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Socios] PRIMARY KEY CLUSTERED 
(
	[SocioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserClaims]    Script Date: 22/08/2022 22:10:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.UserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogins]    Script Date: 22/08/2022 22:10:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.UserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 22/08/2022 22:10:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AppUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1', N'fontes204@gmail.com', 0, N'123456', NULL, N'919180604', 0, 0, NULL, 0, 0, N'joao.fontes')
GO
SET IDENTITY_INSERT [dbo].[Institutions] ON 

INSERT [dbo].[Institutions] ([InstitutionId], [Name], [InstitutionTypeId], [Telefone1], [Telefone2], [WhatsApp], [Email], [HomeAddress], [ProvinceId]) VALUES (1, N'Petro de Luanda', 2, N'919180604', N'923000001', N'919180604', N'jfontes204@outlook.com', N'Cidade do Kilamba', 11)
INSERT [dbo].[Institutions] ([InstitutionId], [Name], [InstitutionTypeId], [Telefone1], [Telefone2], [WhatsApp], [Email], [HomeAddress], [ProvinceId]) VALUES (2, N'Banco BAI', 1, N'912000001', N'923000002', N'912000001', N'jfontes.dev@gmail.com', N'Quitexi', 17)
INSERT [dbo].[Institutions] ([InstitutionId], [Name], [InstitutionTypeId], [Telefone1], [Telefone2], [WhatsApp], [Email], [HomeAddress], [ProvinceId]) VALUES (3, N'Banco BIC', 1, N'912000002', N'923000003', N'912000002', N'bancobic@email.com', N'Caxito', 1)
SET IDENTITY_INSERT [dbo].[Institutions] OFF
GO
SET IDENTITY_INSERT [dbo].[InstitutionTypes] ON 

INSERT [dbo].[InstitutionTypes] ([InstitutionTypeId], [Label]) VALUES (1, N'Instituição Bancária')
INSERT [dbo].[InstitutionTypes] ([InstitutionTypeId], [Label]) VALUES (2, N'Instituição Desportiva')
INSERT [dbo].[InstitutionTypes] ([InstitutionTypeId], [Label]) VALUES (3, N'Instituição Política')
SET IDENTITY_INSERT [dbo].[InstitutionTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Partners] ON 

INSERT [dbo].[Partners] ([PartnerId], [Name], [Birthday], [PartnerNumber], [DocNumber], [Photo], [DateRegistration], [PartnerTypeId], [Telefone1], [Telefone2], [WhatsApp], [Email], [HomeAddress], [ProvinceId], [InstitutionId]) VALUES (2, N'João Fontes', CAST(N'1992-09-12T00:00:00.000' AS DateTime), N'', N'004656237LA042', N'', CAST(N'2022-02-23T01:21:19.550' AS DateTime), 4, N'919180604', N'929404879', N'919180604', N'fontes204@gmail.com', N'Urbanização Nova Vida, Rua 175, edificio E142, Apt nº 8, 1º Andar', 11, 1)
INSERT [dbo].[Partners] ([PartnerId], [Name], [Birthday], [PartnerNumber], [DocNumber], [Photo], [DateRegistration], [PartnerTypeId], [Telefone1], [Telefone2], [WhatsApp], [Email], [HomeAddress], [ProvinceId], [InstitutionId]) VALUES (3, N'Noemia Sonia Cabuita Pereira', CAST(N'1996-08-06T00:00:00.000' AS DateTime), N'', N'004656237LA043', N'', CAST(N'2022-02-23T01:41:49.320' AS DateTime), 8, N'929404879', N'913251345', N'929404879', N'soniacabuita@gmail.com', N'Urbanização Nova Vida, Rua 175, edificio E142, Apt nº 8, 1º Andar.', 11, 2)
INSERT [dbo].[Partners] ([PartnerId], [Name], [Birthday], [PartnerNumber], [DocNumber], [Photo], [DateRegistration], [PartnerTypeId], [Telefone1], [Telefone2], [WhatsApp], [Email], [HomeAddress], [ProvinceId], [InstitutionId]) VALUES (5, N'Daniela Fontes Cabuita Pereira', CAST(N'2022-02-16T00:00:00.000' AS DateTime), N'', N'', N'', CAST(N'2022-02-27T08:44:18.337' AS DateTime), 5, N'929404879', N'', N'', N'', N'Teste', 18, 2)
SET IDENTITY_INSERT [dbo].[Partners] OFF
GO
SET IDENTITY_INSERT [dbo].[PartnerTypes] ON 

INSERT [dbo].[PartnerTypes] ([PartnerTypeId], [Label], [InstitutionId]) VALUES (1, N'Sócio Amarelo', 1)
INSERT [dbo].[PartnerTypes] ([PartnerTypeId], [Label], [InstitutionId]) VALUES (2, N'Sócio Azul', 1)
INSERT [dbo].[PartnerTypes] ([PartnerTypeId], [Label], [InstitutionId]) VALUES (4, N'Sócio de Ouro', 1)
SET IDENTITY_INSERT [dbo].[PartnerTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Provinces] ON 

INSERT [dbo].[Provinces] ([ProvinceId], [Name]) VALUES (1, N'Bengo')
INSERT [dbo].[Provinces] ([ProvinceId], [Name]) VALUES (2, N'Benguela')
INSERT [dbo].[Provinces] ([ProvinceId], [Name]) VALUES (3, N'Bié')
SET IDENTITY_INSERT [dbo].[Provinces] OFF
GO
SET IDENTITY_INSERT [dbo].[Quotas] ON 

INSERT [dbo].[Quotas] ([QuotaId], [Value], [QuotaTypeId], [PartnerId], [InstitutionId], [DateCreation]) VALUES (2, N'130000', 7, 3, 2, CAST(N'2022-03-08T12:11:17.283' AS DateTime))
INSERT [dbo].[Quotas] ([QuotaId], [Value], [QuotaTypeId], [PartnerId], [InstitutionId], [DateCreation]) VALUES (3, N'60000', 3, 2, 1, CAST(N'2022-03-08T13:31:45.663' AS DateTime))
INSERT [dbo].[Quotas] ([QuotaId], [Value], [QuotaTypeId], [PartnerId], [InstitutionId], [DateCreation]) VALUES (6, N'30000', 3, 2, 1, CAST(N'2022-03-08T17:13:21.413' AS DateTime))
SET IDENTITY_INSERT [dbo].[Quotas] OFF
GO
SET IDENTITY_INSERT [dbo].[QuotaTypes] ON 

INSERT [dbo].[QuotaTypes] ([QuotaTypeId], [Label], [InstitutionId]) VALUES (1, N'Quota Amarela', 1)
INSERT [dbo].[QuotaTypes] ([QuotaTypeId], [Label], [InstitutionId]) VALUES (2, N'Quota Azul', 1)
INSERT [dbo].[QuotaTypes] ([QuotaTypeId], [Label], [InstitutionId]) VALUES (3, N'Quota de Ouro', 1)
SET IDENTITY_INSERT [dbo].[QuotaTypes] OFF
GO
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (N'2', N'Instituição')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (N'3', N'Sócio')
GO
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'1', N'1')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 22/08/2022 22:10:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AppUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InstitutionId]    Script Date: 22/08/2022 22:10:25 ******/
CREATE NONCLUSTERED INDEX [IX_InstitutionId] ON [dbo].[Cards]
(
	[InstitutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PartnerId]    Script Date: 22/08/2022 22:10:25 ******/
CREATE NONCLUSTERED INDEX [IX_PartnerId] ON [dbo].[Cards]
(
	[PartnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InstitutionTypeId]    Script Date: 22/08/2022 22:10:25 ******/
CREATE NONCLUSTERED INDEX [IX_InstitutionTypeId] ON [dbo].[Institutions]
(
	[InstitutionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProvinceId]    Script Date: 22/08/2022 22:10:25 ******/
CREATE NONCLUSTERED INDEX [IX_ProvinceId] ON [dbo].[Institutions]
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InstitutionId]    Script Date: 22/08/2022 22:10:25 ******/
CREATE NONCLUSTERED INDEX [IX_InstitutionId] ON [dbo].[Partners]
(
	[InstitutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PartnerTypeId]    Script Date: 22/08/2022 22:10:25 ******/
CREATE NONCLUSTERED INDEX [IX_PartnerTypeId] ON [dbo].[Partners]
(
	[PartnerTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProvinceId]    Script Date: 22/08/2022 22:10:25 ******/
CREATE NONCLUSTERED INDEX [IX_ProvinceId] ON [dbo].[Partners]
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InstitutionId]    Script Date: 22/08/2022 22:10:25 ******/
CREATE NONCLUSTERED INDEX [IX_InstitutionId] ON [dbo].[PartnerTypes]
(
	[InstitutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InstitutionId]    Script Date: 22/08/2022 22:10:25 ******/
CREATE NONCLUSTERED INDEX [IX_InstitutionId] ON [dbo].[Quotas]
(
	[InstitutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PartnerId]    Script Date: 22/08/2022 22:10:25 ******/
CREATE NONCLUSTERED INDEX [IX_PartnerId] ON [dbo].[Quotas]
(
	[PartnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuotaTypeId]    Script Date: 22/08/2022 22:10:25 ******/
CREATE NONCLUSTERED INDEX [IX_QuotaTypeId] ON [dbo].[Quotas]
(
	[QuotaTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InstitutionId]    Script Date: 22/08/2022 22:10:25 ******/
CREATE NONCLUSTERED INDEX [IX_InstitutionId] ON [dbo].[QuotaTypes]
(
	[InstitutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 22/08/2022 22:10:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[Roles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 22/08/2022 22:10:25 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 22/08/2022 22:10:25 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 22/08/2022 22:10:25 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 22/08/2022 22:10:25 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Institutions] ADD  DEFAULT ('') FOR [Telefone1]
GO
ALTER TABLE [dbo].[Institutions] ADD  DEFAULT ('') FOR [Email]
GO
ALTER TABLE [dbo].[Institutions] ADD  DEFAULT ((0)) FOR [ProvinceId]
GO
ALTER TABLE [dbo].[Partners] ADD  DEFAULT ('') FOR [Telefone1]
GO
ALTER TABLE [dbo].[Partners] ADD  DEFAULT ((0)) FOR [ProvinceId]
GO
ALTER TABLE [dbo].[Partners] ADD  DEFAULT ((0)) FOR [InstitutionId]
GO
ALTER TABLE [dbo].[PartnerTypes] ADD  DEFAULT ((0)) FOR [InstitutionId]
GO
ALTER TABLE [dbo].[Quotas] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [DateCreation]
GO
ALTER TABLE [dbo].[QuotaTypes] ADD  DEFAULT ((0)) FOR [InstitutionId]
GO
ALTER TABLE [dbo].[Cards]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cards_dbo.Institutions_InstitutionId] FOREIGN KEY([InstitutionId])
REFERENCES [dbo].[Institutions] ([InstitutionId])
GO
ALTER TABLE [dbo].[Cards] CHECK CONSTRAINT [FK_dbo.Cards_dbo.Institutions_InstitutionId]
GO
ALTER TABLE [dbo].[Cards]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cards_dbo.Partners_PartnerId] FOREIGN KEY([PartnerId])
REFERENCES [dbo].[Partners] ([PartnerId])
GO
ALTER TABLE [dbo].[Cards] CHECK CONSTRAINT [FK_dbo.Cards_dbo.Partners_PartnerId]
GO
ALTER TABLE [dbo].[Institutions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Institutions_dbo.InstitutionTypes_InstitutionTypeId] FOREIGN KEY([InstitutionTypeId])
REFERENCES [dbo].[InstitutionTypes] ([InstitutionTypeId])
GO
ALTER TABLE [dbo].[Institutions] CHECK CONSTRAINT [FK_dbo.Institutions_dbo.InstitutionTypes_InstitutionTypeId]
GO
ALTER TABLE [dbo].[Institutions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Institutions_dbo.Provinces_ProvinceId] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Provinces] ([ProvinceId])
GO
ALTER TABLE [dbo].[Institutions] CHECK CONSTRAINT [FK_dbo.Institutions_dbo.Provinces_ProvinceId]
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Partners_dbo.Institutions_InstitutionId] FOREIGN KEY([InstitutionId])
REFERENCES [dbo].[Institutions] ([InstitutionId])
GO
ALTER TABLE [dbo].[Partners] CHECK CONSTRAINT [FK_dbo.Partners_dbo.Institutions_InstitutionId]
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Partners_dbo.PartnerTypes_PartnerTypeId] FOREIGN KEY([PartnerTypeId])
REFERENCES [dbo].[PartnerTypes] ([PartnerTypeId])
GO
ALTER TABLE [dbo].[Partners] CHECK CONSTRAINT [FK_dbo.Partners_dbo.PartnerTypes_PartnerTypeId]
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Partners_dbo.Provinces_ProvinceId] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Provinces] ([ProvinceId])
GO
ALTER TABLE [dbo].[Partners] CHECK CONSTRAINT [FK_dbo.Partners_dbo.Provinces_ProvinceId]
GO
ALTER TABLE [dbo].[PartnerTypes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PartnerTypes_dbo.Institutions_InstitutionId] FOREIGN KEY([InstitutionId])
REFERENCES [dbo].[Institutions] ([InstitutionId])
GO
ALTER TABLE [dbo].[PartnerTypes] CHECK CONSTRAINT [FK_dbo.PartnerTypes_dbo.Institutions_InstitutionId]
GO
ALTER TABLE [dbo].[Quotas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Quotas_dbo.Institutions_InstitutionId] FOREIGN KEY([InstitutionId])
REFERENCES [dbo].[Institutions] ([InstitutionId])
GO
ALTER TABLE [dbo].[Quotas] CHECK CONSTRAINT [FK_dbo.Quotas_dbo.Institutions_InstitutionId]
GO
ALTER TABLE [dbo].[Quotas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Quotas_dbo.Partners_PartnerId] FOREIGN KEY([PartnerId])
REFERENCES [dbo].[Partners] ([PartnerId])
GO
ALTER TABLE [dbo].[Quotas] CHECK CONSTRAINT [FK_dbo.Quotas_dbo.Partners_PartnerId]
GO
ALTER TABLE [dbo].[Quotas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Quotas_dbo.QuotaTypes_QuotaTypeId] FOREIGN KEY([QuotaTypeId])
REFERENCES [dbo].[QuotaTypes] ([QuotaTypeId])
GO
ALTER TABLE [dbo].[Quotas] CHECK CONSTRAINT [FK_dbo.Quotas_dbo.QuotaTypes_QuotaTypeId]
GO
ALTER TABLE [dbo].[QuotaTypes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuotaTypes_dbo.Institutions_InstitutionId] FOREIGN KEY([InstitutionId])
REFERENCES [dbo].[Institutions] ([InstitutionId])
GO
ALTER TABLE [dbo].[QuotaTypes] CHECK CONSTRAINT [FK_dbo.QuotaTypes_dbo.Institutions_InstitutionId]
GO
ALTER TABLE [dbo].[UserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserClaims_dbo.AppUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AppUsers] ([Id])
GO
ALTER TABLE [dbo].[UserClaims] CHECK CONSTRAINT [FK_dbo.UserClaims_dbo.AppUsers_UserId]
GO
ALTER TABLE [dbo].[UserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserLogins_dbo.AppUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AppUsers] ([Id])
GO
ALTER TABLE [dbo].[UserLogins] CHECK CONSTRAINT [FK_dbo.UserLogins_dbo.AppUsers_UserId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.AppUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AppUsers] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.AppUsers_UserId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_RoleId]
GO
USE [master]
GO
